<div class="container">
    <div class="d-flex justify-content-center mt-4">
        <small class="mt-2 mr-5 text-danger">*必填欄位</small>
        <h4>請修改你的支出</h4>
    </div>
    <form action="/records/{{record._id}}?_method=PUT" method="POST" id="form">
        <div class="form-group row justify-content-center mt-4">
            <label for="name" class="col-sm-1 col-form-label">名稱 <span class="text-danger">*</span> :</label>
            <div class="col-sm-2 px-2">
                <input type="text" class="form-control" name="name" id="name" value="{{record.name}}" required>
            </div>
        </div>
        <div class="form-group row justify-content-center mt-4">
            <label for="date" class="col-sm-1 col-form-label">日期 <span class="text-danger">*</span> :</label>
            <div class="col-sm-2 px-2">
                <input type="date" class="form-control" name="date" id="date" value="{{record.date}}" required>
            </div>
        </div>
        <div class="form-group row justify-content-center mt-4">
            <label for="date" class="col-sm-1 col-form-label">類別 <span class="text-danger">*</span> :</label>
            <div class="col-sm-2 px-2">
                <select name="category" class="custom-select" id="category" required>
                    <option selected>Select</option>
                    <option value="家居物業"{{#if (isEqual record.category "家居物業")}}selected{{/if}}>家居物業</option>
                    <option value="交通出行"{{#if (isEqual record.category "交通出行")}}selected{{/if}}>交通出行</option>
                    <option value="休閒娛樂"{{#if (isEqual record.category "休閒娛樂")}}selected{{/if}}>休閒娛樂</option>
                    <option value="餐飲食品"{{#if (isEqual record.category "餐飲食品")}}selected{{/if}}>餐飲食品</option>
                    <option value="其他"{{#if (isEqual record.category "其他")}}selected{{/if}}>其他</option>
                </select>
            </div>
        </div>
        <div class="form-group row justify-content-center mt-4">
            <label for="amount" class="col-sm-1 col-form-label">金額 <span class="text-danger">*</span> :</label>
            <div class="col-sm-2 px-2">
                <input type="text" class="form-control" name="amount" value="{{record.amount}}" id="amount" min="0" required>
            </div>
        </div>
        <div class="col-sm-12 d-flex justify-content-center ml-5">
            <button class="btn btn-outline-dark px-5" type="submit">送出</button>
        </div>
    </form>
</div>